
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/checkout.css"/>
    <title>Index</title>
</head>
<body>
    <div class="credit-card-form">
        <h2>Credit Card Payment</h2>
        <form asp-action="ProcessPayment" asp-controller="Checkout">
            <div class="form-group">
                <label for="card-number">Card Number</label>
                <input type="text" id="card-number" placeholder="Card number">
            </div>
            <div class="form-group">
                <label for="card-holder">Card Holder</label>
                <input type="text" id="card-holder" placeholder="Card holder's name">
            </div>
            <div class="form-row">
                <div class="form-group form-column">
                    <label for="expiry-date">Expiry Date</label>
                    <input type="text" id="expiry-date" placeholder="MM/YY">
                </div>
                <div class="form-group form-column">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" placeholder="CVV">
                </div>
            </div>
            <input type="hidden" id="amount" name="amount" value="@ViewBag.TotalPrice">
            <input type="hidden" name="nonce" id="payment-method-nonce" />
            <button type="submit" class="click-button" onclick="showLoading(event, this)">Pay Now</button>
        </form>
    </div>
</body>
</html>
